.paragraph1 {
  text-align: justify;
  color: #F1C313
  width: 300px;
  border: 1px solid green;
  padding: 50px;
  margin: 20px;
}

.column {
  width: 350px;
  text-align: center;
}

.test-box {
  padding: 6px;
  margin: 20px;
}

.contacts {
  padding: 6px;
  margin: 20px;
  background-color: blue;
}

body {
  background-color: grey;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
}
p {
  color: black;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
img {
  align-self: center;
}
ol {
  text-align: center;
}
li {
  text-align: center;
}
